* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: rgb(10, 10, 10);
}


main section {
    width: 100%;
    height: 620px;
}

.container-slide {
    width: 100%;
    text-align: center;
    position: relative;
}

.slide {
    position: relative;
    width: 85%;
    height: 600px;
    overflow: hidden;
    background-color: black;
    margin:  0 auto;
    border-radius: 0px 0px 30px 30px;
}

.img-slide {
    margin: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    z-index: -1;
}

.titles {
    position: absolute;
    bottom: 0;
    left: 50px;
    max-width: 500px;
    width: 70%;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titles .title {
    font-size: 35px;
    color: white;
}

.titles .description {
    color: white;
    width: 100%;
    font-size: 1.1rem;
    margin: 0 auto;
    overflow: hidden;
}

.titles button {
    width: 15%;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    border: none;
}

.btnL {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 10px;
}

.btnL button {
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.64);
}

.btnR {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 10px;
}

.btnR button {
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.64);
}

.section-latest {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.article-upcoming {
    margin:  0 auto;
    width: 85%;
}


.article-upcoming h2 {
    color: white;
    text-align: left;
    font-size:2.2rem;
}

.container-upcoming {
    display: flex;
    width: 100%;
    margin:  10px auto;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.card-upcoming {
    color: white;
    margin: 5px;
    scroll-snap-align: center;
    cursor: pointer;
}

.card-upcoming:hover {
    transform: scale(1.1);
    transition: 200ms ease;
}


.card-upcoming img {
    width: 100%;
    min-width: 220px;
    border-radius: 20px;
}

.card-upcoming h3 {
    text-align: center;
}


.btnL-latest {
    position: absolute;
    z-index: 2;
    left: 10px;
}

.btnL-latest button {
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.64);
}

.btnR-latest {
    position: absolute;
    z-index: 2;
    right: 10px;
}

.btnR-latest button {
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.64);
}